

/*

RESPONSTABLE 2.0 by jordyvanraaij
  Designed mobile first!

If you like this solution, you might also want to check out the 1.0 version:
  https://gist.github.com/jordyvanraaij/9069194

*/

tr {
      border: 1px solid #D9E4E6; 
        
    }
tr:nth-child(odd) { 
        background-color: #EAF3F3;
      }


  
td {
      word-wrap: break-word;
      max-width: 7em;
      text-align: center !important;
      border-right: 1px solid #D9E4E6;
            @media (min-width: 480px) {
        border: 1px solid #D9E4E6;
      }
    }
td:first-child { 
        display: table-cell; 
        
        
      }



  .responstable {
    margin: 1em 0;
    width: 100%;
    overflow: hidden;  
    background: #FFF;
    color: #024457;
    border-radius: none;
    border:1px solid #167F92;
  
  }  
  
    
  
    
  
    th, td {
      text-align: left;
      margin: .5em 1em; 
      
      @media (min-width: 480px) {
        display: table-cell; 
        padding: 1em;
      }
    }

    th{
          border: 1px solid #FFF;
    background-color: #167F92;
    color: #FFF;
    padding-left: 5px;
    padding-right: 5px;
    }  
      
tbody:hover > tr td {
   opacity:0.5;
  
  /* uncomment for blur effect */
  /* color:transparent;
  @include text-shadow(0px 0px 2px rgba(0,0,0,0.8));*/
}

tbody:hover > tr:hover td {
  text-shadow:none;
  color:#2d2d2d;
  opacity:1.0;
}


@include responstable(
  none: 10px,
  none: #EAF3F3,
  #FFF: #167F92,
  #024457: #FFF,
 1px solid #D9E4E6: 1px solid #FFF);



body {
  padding: 0 2em;
  font-family: Arial, sans-serif;
  color: #024457;
  background: #f2f2f2;
}

h1 {
  font-family: Verdana;
  font-weight: normal;
  color: #024457;
  span {color: #167F92;}
}

.table-editable {
  position: relative;
  
  .glyphicon {
    font-size: 20px;
  }
}

.table-remove {
  color: #700;
  cursor: pointer;
  
  &:hover {
    color: #f00;
  }
}

/* Style for "new_template" page*/
.panel.panel-default {
    width: 15%;
    float: left;
}

input[type="checkbox"] {
    float: right;
}

.simages{
  background: white;
  display: none;
  position: fixed;
  width: 80%;
  height: 80%;
  margin-left: 10%;
  margin-top: 5%;
  top: 0px;
  left: 0px;
  padding: 30px;
  overflow: scroll;
}

.abrir{
  display: block !important;
}
.box > img{
  float: left;
  width: 100px;
  height: 100px;
  margin: 4px;

}
.box{
  width: 100%;
  float:left;
  height: auto;
  max-height: 350px;
  overflow: auto;
}

.sombra{
  top: 0px;
  left: 0px;
  display: none;
  background: rgba(0,0,0,.8);
  width: 100%;
  height: 100%;
  position: fixed;
}

.tr_red{
  background-color: #f00 !important;
}

#no_rows{
  display: none;
}

