body{
	padding-left: 0;
	font-family: 'Raleway', sans-serif;
}

section {
	padding: 20px 30px;
}

nav {
	padding: 0 30px;
}

nav .brand-logo {
	margin-top: -5px;
	padding: 0 30px!important;
}

footer {
	background: #111;
	color: #fff;
	padding: 50px 0;
}

footer .row {
	margin-bottom: 0;
}

#section-1 {
    background: #283c86;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #45a247, #283c86);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #45a247, #283c86); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
}

#section-1 .card {
	background: rgba(255, 255, 255, 0.7);
	padding: 40px 30px;
}

#section-1 .card.transparent {
	box-shadow: none;
}

/*#section-2 .card {
	padding: 5px 30px;
}
*/
.collection-item1 {
	border-bottom: 1px solid #ddd;
	background: #fefefe;
	position: relative;
}

.collection-item1 div:first-child {
	border-right: 1px solid #ddd;
}

.collection-item1 .date{
	text-align: center;
	margin-top: 0.3rem;
	margin-bottom: 0;
	font-weight: bold;
	color: #009688 ;
}

.collection-item1 .date + p {
	text-align: center;
	color: #666;
	margin-top: 0;
	margin-bottom: 0.3rem;
}

.collection-item1 .info .title {
	margin-top: 0.3rem;
	font-size: 1.3rem;
	color: #111;
}

.collection-item1 .info .more {
	font-size: 0.8rem;
	color: #555;
}

.collection-item1 .info .secondary-content {
	position: absolute;
	right: 10px;
	top: 0.3rem;
	color: #f57f17;
}

.underline {
	border-bottom: 1px solid #ccc; 
	width: 100%;
	padding-bottom: 10px;
}

.btn-large.halfway-fab {
	bottom: -28px;
}

.halfway-fab {
	position: absolute;
	right: 15px;
	bottom: -20px;
	color: #FFF;
}