@import url('https://fonts.googleapis.com/css?family=Lato');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Lato', sans-serif;
	background: #f8f8f8;
}

.col-center {
	float: none!important;
	margin-left: auto!important;
	margin-right: auto!important;
}

.panel-heading {
	padding: 0.75rem 1.3rem;
	margin-top: 0!important;
	/*margin-bottom: 0.75rem!important;*/
}

.panel-heading > * {
	margin: 0!important;
}
.panel-body {
	padding:0.75rem;
	background: #FFF;
}
.phantom {
	background: #fefefe;
	color: #111;
}
.phantom:hover{
	border: none;
	color: #FFF;
}
.badge1 {
	padding: 5px 10px;
}
/*************************
* Margins
*************************/
.nomargin {
	margin: 0!important;
}
.mt-30 {
	margin-top: 30px;
}

.mt-50 {
	margin-top: 50px;
}

.mt-100 {
	margin-top: 100px;
}

.mt-150 {
	margin-top: 150px;
}

.mb-30 {
	margin-bottom: 30px;
}

/*************************
* Colors
*************************/
.red {
	color: #FF4300;
}
/*.white {
	color: #FFF;
}*/

.gray {
	color: #444;
}


/*************************
* Shadowds
*************************/

.z-depth-1 {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

.z-depth-2 {
	box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)!important;
}

.z-depth-w2 {
	box-shadow: 0 8px 17px 0 rgba(255,255,255,0.1), 10px 6px 20px 0 rgba(255,255,255,0.19)!important;
}

/*************************
* Paddings
*************************/
.nopadding {
	padding: 0!important;
}

.p-1 {
	padding: 0.75rem;
}
.pt-15 {
	padding-top: 15px;
}
.plr-1{
	padding-left: 3px!important;
	padding-right: 3px!important;
}

/*************************
* Borders
*************************/
.noborder {
	border: none;
}
.border-top {
	border-top: 1px solid #e2e2e2;
}

.border-bottom {
	border-bottom: 1px solid #e2e2e2;
}
.br-15 {
	border-radius: 15px;
}


/*************************
* Overides
*************************/
.dropdown-content {
    top: 60px!important;
    width: initial!important;
}
.dropdown-content > li {
	min-height: initial;
}
.dropdown-content > li > a {
	padding: 0.75rem 1.3rem; 
}
span.badge {
	min-width: 2rem;
}
nav i.material-icons {
	font-size: 24px;
}
.btn-block{
	width: 100%;
}

.hidden{
  display: none;
}